.search-page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .list-title{
        color: #f7feff
    }

    .pagination{
        max-width: 80%;
        background-color: #a3d6ff;
        border-radius: 5px;
    }
}